*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box; 
}

body{
 	background: url(https://wallpapercave.com/wp/UlBEbKV.jpg);
 	background-size: cover;
 } 	


nav ul{
	float: left;
	margin-right: 0px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 50px;
}

nav ul li a{
	color: white;
	font-size: 13px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a:hover{
	color: black;
	background: white;
	transition: 1.0s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-hover-opacity:hover {
opacity:1;
-webkit-backface-visibility:hidden
}

.modal-hover-opacity{
opacity:0.80;
-webkit-backface-visibility:hidden
}

.close {
text-decoration:none;
float:right;
font-size:24px;
font-weight:bold;
color:white
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal-content, #caption {   
  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

